:root {
  --light: rgb(236, 246, 247);
  --medium: rgb(136, 203, 207);
  --dark: rgb(0, 136, 145);
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0rem;
    background-color: var(--light);
    font-size: 1.5rem;
    text-align: left;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    max-width: 600px;
    margin: auto;

}

#body {
    margin-top: 5.5rem;
}

#menu {
    background-color: var(--dark);
    vertical-align: middle;
    min-height: 3.5rem;
    width: 100%;
    max-width: 600px!important;
    z-index: 5;
    text-align: center;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    position: fixed;
    top: 0;
}

#btns-menu {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.closedMenu {
    display: none;/*
    position: fixed;
    top: 3.5rem;
    width: 100%;*/
}

.openedMenu {
    display: block;/*
    position: fixed;
    top: 3.5rem;
    width: 100%;*/
}

.frame {
    letter-spacing: normal;
    background-color: white;
    text-align: left;
    align-content: left;
    vertical-align: middle;
    padding: 1.5rem;
    font-size: 2rem;
    z-index: 4;
    border-bottom: 0.5rem solid var(--dark);
}

input.defaultCheckBoxSize  {
    height: 1.5rem;
    width: 1.5rem;
}

.doList {
    text-align: left;
    overflow: hidden;
}

.listName {
    background-color: var(--medium);
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: 3.25rem;
    height: 3.5rem;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
}

.listOpened:after { /*down*/
    content: '\25BC'!important;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    position: relative;
    left: 1rem;
    bottom: 0.25rem;
}

.listClosed:after { /*up*/
    content: '\25B2';
    font-size: 1.25rem;
    padding-bottom: 1rem;
    position: relative;
    left: 1rem;
    bottom: 0.25rem;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.modal-container {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 30vh auto;
    padding: 1rem;
    width: 90%;
    position: fixed;
    left: 5%;
    letter-spacing: normal;
    background-color: white;
    text-align: left;
    align-content: left;
    vertical-align: middle;
    padding: 1.5rem;
    font-size: 2rem;
    z-index: 10;
}

.task {
    position: relative;
    display: none;
    background-color: white;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    vertical-align: middle;
    border-bottom: .25rem solid var(--light);
    width: 100%;
    word-wrap: break-word;
}

.taskActions {
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: right;
    /*padding: 0rem 1rem 0rem     0rem;*/
    padding: 0rem 0.5rem;
    display: grid;
    grid: auto / 25% 25% 25% 25%;
    /*grid-gap: 0.25rem;*/
    text-align: center;
    background-color: var(--dark);
    /*border-radius: 5px;*/
}

.btn-taskActions {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--dark);
    color: white;
    border: 0;
    text-align: center;
    vertical-align: middle;
    /*border-radius: 15px;*/
    padding: 0.5rem;
    /*padding-bottom: 0.5rem;*/
}

#today {
    text-align: center;
    margin-bottom: 1rem;
}

.full-input {
    width: 100%;
    margin-bottom: 0.5rem;
    /*margin-right: 0.5rem;*/
}

.number-input {
    width: calc(3rem);
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}

.settings-row {
    margin-bottom: 1rem;
}

.calendar {
    max-width: 100%;
    margin-bottom: 0.5rem;
    max-height: 3rem;
}

.btns {
    margin-top: 1rem;
}

.btn {
    background-color: var(--dark);
    color: white;
    border: 0;
    border-radius: 150px;
    height: 3.25rem;
    width: 3.25rem;
    text-align: center;
    vertical-align: middle;
    padding: 0rem 0.75rem 0.25rem .6rem;
}

.btn-menu {
    background-color: var(--dark);
    border: 0;
    text-align: center;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.icon-menu {
    height: 3rem;
    width: 3rem;
}

.icon-taskAction {
    height: 3rem;
    width: 3rem;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--dark);
}

span {
    color: var(--dark);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.placeholder {
    background: #dbdbdb;
    border-bottom: .25rem solid var(--light);
    min-height: 4.75rem;
    /*border: 0.2rem dotted var(--medium);*/
}

.connectedSortable {
    min-height: 4.75rem;
}

/*#matrix {
    width: 100%;
    display: grid;
    grid: auto / 3.5rem calc((100% - 3rem) / 2) calc((100% - 3rem) / 2);
    grid-gap: 0.5rem;
    padding: 0rem;
    background-color: var(--light);
    text-align: center;
    height: calc(100vh - 18rem);
}

#matrix > div {
    padding: 0.25rem;
    background-color: white;
}

.matrix-head {
    height: 3.5rem;
    padding-top: 0.5rem;
    font-weight: 500;
    color: var(--dark);
}

.matrix-cell {
    height: calc((100vh - 22rem)/2);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: start;
}*/