.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: none;
  width: 80%;
  box-shadow: 0;
  border-radius: 6px;
}

.closeModal {
  color: #38bd9c;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 6px;
}
.closeModal:hover,
.closeModal:focus {
  color: #77d6be;
  text-decoration: none;
  cursor: pointer;
}
.openCode {
  color: #38bd9c;
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding-top: 6px;
}
.openCode:hover,
.openCode:focus {
  color: #77d6be;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #e3f4f0;
  color: #38bd9c;
  border-radius: 6px 6px 0 0;
  /* color: #38bd9c;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase; */
}

.modal-header h6 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 2.4em;
  font-weight: 200;
  text-align: center;
  /* margin-top: 0px; */
}

.modal-body {
  padding: 2px 16px;
}

#modal-img{
  height: 100%;
  max-width: 100%;
  /* width: auto; */
  /* padding: 10px; */
  /* border-radius: 6px; */
  cursor: default;
}

#last-modal-img{
  height: auto;
  max-width: 120%;
  cursor: default;
}

#proj2-img{
  height: auto;
  max-width: 100%;
  /* width: auto; */
  /* padding: 10px; */
  /* border-radius: 6px; */
  cursor: pointer;
}

/* PORTFOLIO */
.portfolio {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

.project {
  width: 100%;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  margin-bottom: 12px;
  display: none;
  /* background-color: #e3f4f0; */
}

.project h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: center;
}

.project img{
  height: 160px;
  max-width: 50%;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.projectDetail  p{
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 0.5em;
  text-align: justify;
  /* padding: 0; */
}

.prev, .next {
  cursor: pointer;
  border: solid 1px #77d6be;
  position: absolute;
  top: 50%;
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: -12px;
  color: #38bd9c;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 6px;
}

.next {
  right: 0;
  /* border-radius: 6px; */
}

.prev:hover, .next:hover {
  background-color: #77d6be;
  /* opacity: 0.8; */
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #77d6be;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #38bd9c;
}


h4 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
  margin-top: 0px;
}

#position {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: -15px;
  padding-bottom: 15px;
}

#position > div {
  position: absolute;
  left: 10px;
  right: 10px;
}

.resumeButton {
  border: none;
  outline: none;
  border-radius: 50%;
  outline: none;
  padding: 3px 3px;
  background-color: #77d6be;
  color: white;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none; 
  /* line-height: 100%;  */
  margin: 0.25em;
}

a.resumeButton {
  border: none;
  outline: none;
  border-radius: 50%;
  outline: none;
  padding: 3px 3px;
  background-color: #77d6be;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none; 
  line-height: 110%; 
}

a.resumeButton:hover {
  background-color: #38bd9c;
  color: white;
  border: none;
  outline: none;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.skills-col2 {
  align-items: flex-start;
}

.skill {
  float: left;
  background-color: white;
  color: #38bd9c;
  display: none;
  border-radius: 6px;
  border: 1px solid;
  margin: 2px;
  font-size: 1.1em;
  padding: 6px 10px;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  border-radius: 6px;
  outline: none;
  padding: 6px 16px;
  background-color: #77d6be;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  width: 150px;
  margin: 3px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight:bold;
  /* line-height: 120%; */
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
  border: none;
  outline: none;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: white;
  /* background-color: #38bd9c; */
  border: none;
  outline: none;
}

.btn:hover span {
  padding-right: 25px;
  border: none;
  outline: none;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}

.btn:hover {
  background-color: #38bd9c;
  color: white;
  border: none;
  outline: none;
}

.btn.active {
  background-color: #38bd9c;
  box-shadow: none;
}

.btn.active span:after {
  content: '\00bb';
  position: absolute;
  opacity: 1;
  top: 0;
  transition: 0.5s;
  color: white;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #e3f4f0;
   /* #ededed; */
}

.footer{
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
}
/*******************************************
CONTAINER
*******************************************/
.container{
  margin-top: 80px;
  /* 80px with photo, 15px without photo */
  margin-bottom: 15px;
  background: #fff;
}
/*******************************************
PHOTO (AVATAR)
*******************************************/
#photo-header{
  margin-top: -75px;
  /* !!!!change container margin!!!! */
}
#photo{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #e3f4f0;
  display: inline-block;
}
#photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#text-header h1{
  margin: 0;
  padding: 4px;
  font-size: 2.4em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: 4px;
  /* font-weight: 800; */
  line-height: 1.5em;
}
#text-header h1 span{
  color: #38bd9c;
}
#text-header h1 sup{
  opacity: 0.5;
}
#text-header:after{
  width: 100%;
  height: 3px;
  background: url(../img/line.png);
  margin-top: 15px;
  content: '';
  display: block;
}
/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  color: #38bd9c;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}
.box h2:before{
  content: '►';
  /* content: '◢'; */
  margin-right: 5px;
}
.box p{
  font-size: 1.3em;
  line-height: 1.5em;
}
/*******************************************
EDUCATION
*******************************************/
#education{
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  background: #38bd9c;
  background: -moz-linear-gradient(top,  #ffffff 0%, #38bd9c 7%, #38bd9c 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#38bd9c), color-stop(89%,#38bd9c), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#38bd9c 7%,#38bd9c 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#38bd9c 7%,#38bd9c 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#38bd9c 7%,#38bd9c 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#38bd9c 7%,#38bd9c 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#education li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
#education .year{
  width: 10%;
  background: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}
#education .description{
  width: 80%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
}
#education .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}
#education .description h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
/* #education .description p{
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0;
} */

.eduDescription{
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/*******************************************
EXPERIENCES
*******************************************/
.job{
  margin-bottom: 15px;
}
.job .where{
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
}
.job .year{
  font-size: 1.3em;
  opacity: 0.7;
  text-align:right;
}
.job .profession{
  font-size: 1.6em;
  font-weight: bold;
}
.job .description{
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.job .p{
  font-size: 1.2em;
  line-height: 1.5em;
}
/*******************************************
CONTACT
*******************************************/
.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.5;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.2em;
  opacity: 0.7;
}
a{
  color: #38bd9c;
  transition: 0.2s ease-in-out;
}
a:hover{
  color: #125947;
  text-decoration: none;
}
/*******************************************
SKILLS
*******************************************/

/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 768px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 992px) {
  #education .description{
    width: 87%;
  }
}
@media (min-width: 1200px) {
  #education .description{
    width: 90%;
  }
}