html {
    font-family: 'Roboto Mono Light', monospace;
}

body {
    font-family: 'Roboto Mono Light', monospace;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    /* overflow: hidden; */
    font-size: 12.5px;
    line-height: 14px;
    text-align: justify;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: white;
    /* height: calc(100vh - 40px); */
}

.bold {
    font-family: 'Roboto Mono', monospace;
}

.avatar {
    width: 75px;
    height: 75px;
}

.w3-cell {
    padding: 0px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

@media (max-width: 600px){
    .w3-mobile {
        width: 100%!important;
        /* padding: 0px;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
    .name {
        font-size: 30px!important;
        line-height: 30px!important;
        text-align: center!important;
    }
    .title {
        font-size: 12px!important;
        line-height: 12px!important;
        text-align: center!important;
    }
    .nameAndTitle {
        padding-left: 0px!important;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .introL, .introM {
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-bottom: 20px;
    }
    .introR {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .viewImageL {
        padding-bottom: 10px!important;
        margin-bottom: 10px!important;
        font-size: 8px!important;
        border-bottom: 0.8px solid rgb(49, 189, 172);
    }
    .viewImageR {
        font-size: 8px!important;
    }
    h3 {
        font-size: 12px!important;
        padding-bottom: 10px!important;
    }
    p.right, p.left, p.madeWith, p.sourceL, p.sourceR {
        padding-left: 0px!important;
        padding-right: 0px!important;
        font-size: 10px!important;
        margin-left: 0px!important;
    }

    p.sourceR {
        padding-bottom: 0px!important;
    }

    .footnoteL, .footnoteR {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .footnoteL {
        border-bottom: 0.8px solid rgb(49, 189, 172);
        margin-bottom: 10px!important;
    }
    img.left, img.right, .viewImageL, .viewImageR {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .modalImage {
        max-width: 100%!important;
    }
    .modal-content {
        width: 100%!important;
    }
    .close {
        top: 5px!important;
        right: 5px!important;
    }
    .main {
        margin: 0px!important;
    }
    .modalPlot {
        /* width: 300px!important;
        height: 200px!important; */
        display: none!important;
    }
    .modalPlotImage, .modalPlotImageCaption {
        display: block!important;
    }
}

.introL {
    padding-right: 10px;
}

.introM {
    padding-left: 10px;
    padding-right: 10px;
}

.introR {
    padding-left: 10px;
}

.modalPlot {
    max-height: calc(100vh - 150px);
    width: auto;
}

.modalPlotImage {
    max-height: calc(100vh - 150px);
    height: auto;
    max-width: 100%;
    width: auto;
    display: none;
}

.modalPlotImageCaption {
    display: none;
}

p {
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0px;
    /* margin-top: 4px; */
    /* margin-top: 10px; */
    text-align: justify;
}

u {
    color: rgb(49, 189, 172);
    text-decoration: none;
}

img {
    width: 100%;
    /* min-height: 80vh; */
}

img.left {
    padding-right: 10px;
    cursor: pointer;
}

img.right {
    padding-left: 10px;
    cursor: pointer;
}

img.icon {
    height: 10px;
    width: auto;
    filter: opacity(50%);
}

a > img.icon:hover {
    filter: opacity(75%);
}

p.left {
    padding-right: 10px;
}

p.right {
    padding-left: 10px;
}

hr {
    border-top: 0.8px solid rgb(49, 189, 172);
    margin: 20px 0px 20px 0px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 22px;
    color: rgb(49,189,172);
    margin: 0px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 16px;
    /* color: rgb(49,189,172); */
    margin: 0px;
    text-align: center;
    padding-bottom: 20px;
}

a {
    color: rgb(49,189,172);
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

a:hover {
    color: rgb(32, 122, 111);
}

a.contact {
    color: black;
    font-family: 'Roboto Mono Light', monospace;
    text-decoration: none;
}

a.contact:hover {
    color: rgb(49, 189, 172);
}

.nameAndTitle {
    /* background-color: lightcoral; */
    margin: 0px;
    padding-left: 10px;
    font-size: 50px;
    line-height: 50px;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
}

.contactCard {
    /* background-color: lightpink; */
    font-size: 10px;
    line-height: 13px;
    text-align: right;
}

.nameAndTitle span{
    color: rgb(49,189,172);  
}

.title {
    font-size: 20px;
    line-height: 28px;
}

.footnoteL {
    border-top: 0.8px solid rgb(49, 189, 172);
    padding-top: 10px;
    margin-right: 10px;
}

.footnoteR {
    border-top: 0.8px solid rgb(49, 189, 172);
    padding-top: 10px;
    margin-left: 10px;
}

.viewImageR {
    margin: 0px;
    font-size: 10px;
    text-align: center;
    padding: 10px 0px 0px 10px;
}

.viewImageL {
    margin: 0px;
    font-size: 10px;
    text-align: center;
    padding: 10px 10px 0px 0px;
}

.viewImage {
    margin: 0px;
    font-size: 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.copyright {
    vertical-align: middle;
    text-align: center;
}

.copyright span {
    font-size: 16px;
    line-height: 14px;
}

.frame {
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    margin: 10px 0px 20px 0px;
}

/* wine modal */
.modalImage {
    max-height: calc(100vh - 150px);
    height: auto;
    max-width: 100%;
    width: auto;
    /* height: 100%; */
    /* max-width: calc(100% - 40px); */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    position: relative;
    background-color: rgb(242, 242, 242);
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.myWineSlides {
    display: none;
}

.myWNSlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    width: auto;
    padding: 0px;
    margin-top: -50px;
    color: black; 
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    /* border-radius: 10px 10px 10px 10px; */
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover,
.next:hover {
    /* background-color: white; */
    color: white;
}

.numbertext {
    /* color: rgb(49, 189, 172); */
    font-size: 15px;
    line-height: 10px;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    left: calc(50% - 20px);
    transform: translate(0%, -50%);
    bottom: 10px;
    text-align: center;
}