html {
    font-family: 'Roboto Mono Light', sans-serif;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono Light', sans-serif;
    padding: 2rem;
    background-color: rgb(242, 242, 242);
    font-size: 1.25rem;
    line-height: 1.4rem;
    text-align: justify;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.js-plotly-plot {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
    background-color: white;
}

.bold {
    font-family: 'Roboto Mono', sans-serif;
}

.avatar {
    width: 7.5rem;
    height: 7.5rem;
}

.w3-cell {
    padding: 0rem;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

@media (max-width: 60rem){
    .w3-mobile {
        width: 100%!important;
        /* padding: 0px;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
    .name {
        font-size: 3rem!important;
        line-height: 3rem!important;
        text-align: center!important;
    }
    .title {
        font-size: 1.2rem!important;
        line-height: 1.2rem!important;
        text-align: center!important;
    }
    .nameAndTitle {
        padding-left: 0rem!important;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .introL, .introM {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
        padding-bottom: 2rem;
    }
    .introR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .viewImageL {
        padding-bottom: 1rem!important;
        margin-bottom: 1rem!important;
        font-size: 0.8rem!important;
        border-bottom: 0.08rem solid rgb(49, 189, 172);
    }
    .viewImageR {
        font-size: 0.8rem!important;
    }
    h3 {
        font-size: 1.2rem!important;
        padding-bottom: 1rem!important;
    }
    p.right, p.left, p.madeWith, p.sourceL, p.sourceR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
        font-size: 1rem!important;
        margin-left: 0rem!important;
    }

    ol {
        font-size: 1rem!important;
    }

    p.sourceR {
        padding-bottom: 0rem!important;
    }

    select {
        width: 95%!important;
    }

    input {
        width: 100%!important;
    }

    .footnoteL, .footnoteR {
        margin-left: 0rem!important;
        margin-right: 0rem!important;
    }
    .footnoteL {
        border-bottom: 0.08rem solid rgb(49, 189, 172);
        margin-bottom: 1rem!important;
    }
    img.left, img.right, .viewImageL, .viewImageR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .modalImage {
        max-width: 100%!important;
    }
    .modal-content {
        width: 100%!important;
    }
    .close {
        top: 0.5rem!important;
        right: 0.5rem!important;
    }
    .main {
        margin: 0rem!important;
    }
    .modalPlot {
        display: none!important;
        font-size: 0.8rem;
    }
    .modalPlotImage, .modalPlotImageCaption {
        display: block!important;
    }
}

.introL {
    padding-right: 1rem;
}

.introM {
    padding-left: 1rem;
    padding-right: 1rem;
}

.introR {
    padding-left: 1rem;
}

.modalPlot {
    max-height: calc(100vh - 15rem);
    width: auto;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.2rem;   
}

.modalPlotImage {
    max-height: calc(100vh - 15rem);
    height: auto;
    max-width: 100%;
    width: auto;
    display: none;
}

.modalPlotImageCaption {
    display: none;
}

select {
    width: 100%;
}

p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin: 0rem;
    text-align: justify;
}

u {
    color: rgb(49, 189, 172);
    text-decoration: none;
}

img {
    width: 100%;
}

img.left {
    padding-right: 1rem;
    cursor: pointer;
}

img.right {
    padding-left: 1rem;
    cursor: pointer;
}

img.icon {
    height: 1rem;
    width: auto;
    filter: opacity(50%);
}

a > img.icon:hover {
    filter: opacity(75%);
}

p.left {
    padding-right: 1rem;
}

p.right {
    padding-left: 1rem;
}

hr {
    border-top: 0.08rem solid rgb(49, 189, 172);
    margin: 2rem 0rem 2rem 0rem;
}

hr.plotly {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    line-height: 2.2rem;
    color: rgb(49,189,172);
    margin: 0rem;
}

h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    /* color: rgb(49,189,172); */
    margin: 0rem;
    text-align: center;
    padding-bottom: 2rem;
}

h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.4rem;
    color: rgb(49,189,172);
    margin: 0rem;
    text-align: left;
}

a {
    color: rgb(49,189,172);
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(32, 122, 111);
}

a.contact {
    color: black;
    font-family: 'Roboto Mono Light', sans-serif;
    text-decoration: none;
}

a.contact:hover {
    color: rgb(49, 189, 172);
}

.nameAndTitle {
    /* background-color: lightcoral; */
    margin: 0rem;
    padding-left: 1rem;
    font-size: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
}

.back {
    background-color: rgb(242, 242, 242);
    height: 5.2rem;
    width: 5.2rem;
    font-size: 5rem;
    vertical-align: middle;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    margin-left: calc(50% - 2.6rem);
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projectTitle {
    margin: 0rem;
    padding-left: 1rem;
    font-size: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
}

.contactCard {
    /* background-color: lightpink; */
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: right;
}

.nameAndTitle span{
    color: rgb(49,189,172);  
}

.name span {
    color: rgb(49,189,172);
}

.title {
    font-size: 2rem;
    line-height: 2.8rem;
}

.footnoteL {
    border-top: 0.08rem solid rgb(49, 189, 172);
    padding-top: 1rem;
    margin-right: 1rem;
}

.footnoteR {
    border-top: 0.08rem solid rgb(49, 189, 172);
    padding-top: 1rem;
    margin-left: 1rem;
}

.viewImageR {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem 0rem 1rem;
}

.viewImageL {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 1rem 0rem 0rem;
}

.viewImage {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.copyright {
    vertical-align: middle;
    text-align: center;
}

.copyright span {
    font-size: 1.6rem;
    line-height: 1.4rem;
}

.frame {
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 2rem;
    margin: 1rem 0rem 2rem 0rem;
}

/* wine modal */
.modalImage {
    max-height: calc(100vh - 15rem);
    height: auto;
    max-width: 100%;
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    position: relative;
    background-color: rgb(242, 242, 242);
    margin: auto;
    padding: 1rem;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.close {
    color: gray;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.myWineSlides {
    display: none;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.myWNSlides {
    display: none;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    width: auto;
    padding: 0rem;
    margin-top: -5rem;
    color: black; 
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}

.prev:hover,
.next:hover {
    /* background-color: white; */
    color: white;
}

.numbertext {
    /* color: rgb(49, 189, 172); */
    font-size: 1.5rem;
    line-height: 1rem;
    position: absolute;
    font-family: 'Roboto Mono', sans-serif;
    left: calc(50% - 2rem);
    transform: translate(0%, -50%);
    bottom: 1rem;
    text-align: center;
}