html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 80%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 2rem;
    background-color: rgb(242, 242, 242);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.text, label, option {
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
    background-color: white;
}

.avatar {
    width: 7.5rem;
    height: 7.5rem;
}

.w3-cell {
    padding: 0rem;
    overflow: hidden;
}

@media screen and (max-width: 900px){
    .name {
        font-size: 2.4rem!important;
        line-height: 2.4rem!important;
        text-align: center!important;
    }
    .title {
        font-size: 1.2rem!important;
        line-height: 1.2rem!important;
        text-align: center!important;
    }
    .nameAndTitle {
        padding-left: 0rem!important;
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .introL, .introM {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
        padding-bottom: 2rem!important;
    }
    .introR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .viewImageL {
        padding-bottom: 1rem!important;
        margin-bottom: 1rem!important;
        font-size: 0.8rem!important;
        border-bottom: 0.06rem solid rgb(49, 189, 172)!important;
    }
    .viewImageR {
        font-size: 0.8rem!important;
    }
    h3 {
        font-size: 1.2rem!important;
        padding-bottom: 1rem!important;
    }
    p.right, p.left, p.madeWith, p.sourceL, p.sourceR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
        font-size: 1rem!important;
        margin-left: 0rem!important;
    }

    ol {
        font-size: 1rem!important;
    }

    p.sourceR {
        padding-bottom: 0rem!important;
    }

    select {
        width: 95%!important;
    }

    input {
        width: 90%!important;
    }

    .footnoteL, .footnoteR {
        margin-left: 0rem!important;
        margin-right: 0rem!important;
    }
    .footnoteL {
        border-bottom: 0.06rem solid rgb(49, 189, 172);
        margin-bottom: 1rem!important;
    }
    img.left, img.right, .viewImageL, .viewImageR {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }
    .modalImage {
        max-width: 100%!important;
    }
    .modal-content {
        width: 100%!important;
    }
    .close {
        top: 0.5rem!important;
        right: 0.5rem!important;
    }
    .main {
        margin: 0rem!important;
    }
    .modalPlot {
        display: none!important;
        font-size: 0.8rem!important;
    }
    .modalPlotImage, .modalPlotImageCaption {
        display: block!important;
    }
    .copyright {
        font-size: 1rem!important;
    }
    .btn {
        line-height: 1rem!important;
        margin-bottom: 0.2rem!important;
        padding: 0.2rem!important;
    }
    .buttons {
        font-size: 1rem!important;
    }
    .back {
        height: 2.1rem!important;
        width: 2.1rem!important;
        font-size: 2rem!important;
        line-height: 1.7rem!important;
        margin-left: calc(50% - 1.05rem)!important;
    }
    .contactIcons {
        display: block!important;
    }
    .contactCard {
        display: none!important;
    }
}

input {
    font-family: 'Open Sans', sans-serif;
}

.introL {
    padding-right: 1rem;
}

.introM {
    padding-left: 1rem;
    padding-right: 1rem;
}

.introR {
    padding-left: 1rem;
}

.modalPlot {
    max-height: calc(100vh - 15rem);
    width: auto;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.2rem;   
}

.modalPlotImage {
    max-height: calc(100vh - 15rem);
    height: auto;
    max-width: 100%;
    width: auto;
    display: none;
}

.modalPlotImageCaption {
    display: none;
}

select {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin: 0rem;
    text-align: left;
}

ol, ul {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

img:hover {
    opacity: 0.5;
}

img.left {
    padding-right: 1rem;
    cursor: pointer;
}

img.right {
    padding-left: 1rem;
    cursor: pointer;
}

img.icon {
    height: 1.5rem;
    width: auto;
}

p.left {
    padding-right: 1rem;
}

p.right {
    padding-left: 1rem;
}

hr {
    border-top: 0.06rem solid rgb(49, 189, 172);
    margin: 2rem 0rem 2rem 0rem;
}

hr.plotly {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.2rem;
    margin: 0rem 0rem 0rem 0rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0rem;
    text-align: center;
    padding-bottom: 2rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0rem;
    text-align: left;
}

a {
    color: black;
    font-weight: bold;
}

b {
    font-weight: 700;
}

a:hover {
    color: rgb(49, 189, 172);
}

a.contact, .contactCard {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

a.contact:hover {
    color: rgb(49, 189, 172);
    text-decoration: underline;
}

button {
    cursor: pointer;
    font-weight: bold;
}

.nameAndTitle {
    margin: 0rem;
    padding-left: 1rem;
    font-size: 4.5rem;
    line-height: 4.2rem;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
}

.back {
    background-color: rgb(242, 242, 242);
    height: 5.2rem;
    width: 5.2rem;
    font-size: 5rem;
    vertical-align: middle;
    line-height: 4.3rem;
    text-align: center;
    border-radius: 50%;
    margin-left: calc(50% - 2.6rem);
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.back > a {
    text-decoration: none;
}

.download {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin-top: 0.5rem;
}

button:hover {
    color: rgb(49, 189, 172);
    text-decoration: underline;
}

.viewProject {
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.projectTitle {
    margin: 0rem;
    /* padding-left: 1rem; */
    /* font-size: 3.5rem; */
    /* line-height: 3.5rem; */
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.projectSubtitle {
    font-size: 2rem;
    line-height: 2.5rem;
}

.contactCard {
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: right;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
}

.footnoteL {
    border-top: 0.06rem solid rgb(49, 189, 172);
    padding-top: 1rem;
    margin-right: 1rem;
}

.footnoteR {
    border-top: 0.06rem solid rgb(49, 189, 172);
    padding-top: 1rem;
    margin-left: 1rem;
}

.viewImageR {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem 0rem 1rem;
}

.viewImageL {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 1rem 0rem 0rem;
}

.viewImage {
    margin: 0rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.copyright {
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.frame {
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 2rem;
    margin: 1rem 0rem 2rem 0rem;
}

.blurb {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

i {
    border: solid black;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.3rem;

    /* right */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}