:root {
  --light: rgb(236, 246, 247);
  --medium: rgb(136, 203, 207);
  --dark: rgb(0, 136, 145);
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0rem;
    font-size: 1.25rem;
    text-align: left;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    max-width: 500px;
    margin: auto;/*1rem auto 1rem auto;*/
    position: relative;
    /*height: calc(100% - 2rem)!important;*/
    /*background-color: yellow;*/
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@keyframes fadeInAndOutAnimation { 
    0% { 
        opacity: 0; 
    } 
    50% { 
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
} 

.swipe {
    position: fixed;
    top: 1.75rem;
    margin: auto;
    background-color: transparent;  
    z-index: 5;
    height: 2rem;
    width: 2rem;
    animation: fadeInAndOutAnimation ease 1.5s;
    animation-iteration-count: 3; 
    animation-fill-mode: forwards;
}

#menu {
    display: inline-block;
    background-color: var(--dark);
}

.list {
    height: calc(100vh - 6rem)!important;
    overflow: auto;
    /*padding-bottom: 6rem;*/
}

.list > :last-child {
    margin-bottom: 0rem;
}

.bar1, .bar2, .bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: white;
  margin: 0.3rem 0.75rem;
  transition: 0.4s;
  border-radius: 0.25rem;
}

.change .bar1 {
  -webkit-transform: translateY(1.25rem) rotate(-45deg);
  transform: translateY(1.25rem) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 1.5rem;
}

#dropup-menu {
    /*display: none;*/
    position: absolute;
    /*top: 0.75rem;*/
    bottom: 2rem;
    right: 2rem;
    /*margin-left: calc(100% - 5rem);*/
}

#dropup-content {
    /*background-color: var(--dark);*/
    /*padding-top: 0.5rem;*/
    /*margin-top: 0.5rem;*/
    border-radius: 0.5rem;
}

#dropup-content button:hover {
    background-color: var(--medium);
}

.btn-dropup {
    background-color: var(--dark);
    margin-top: 0.5rem;
}

input.defaultCheckBoxSize  {
    height: 1rem;
    width: 1rem;
}

.list-name {
    background-color: var(--dark);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.25rem;
    height: 3.5rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    top: 0rem;
    z-index: 10;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 10% auto auto auto;
    max-width: 500px;
    width: calc(100% - 4rem);
    letter-spacing: normal;
    background-color: white;
    text-align: left;
    align-content: left;
    vertical-align: middle;
    padding: 1.5rem;
    z-index: 10;
    border-radius: 0.5rem;
}

.task {
    position: relative;
    background-color: var(--light);
    padding: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    width: 100%;
    word-wrap: break-word;
    margin: auto auto 0.5rem auto;
    min-height: 3rem;
}

.taskActions {
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: right;
    padding: 0rem 0.5rem;
    display: grid;
    grid: auto / 25% 25% 25% 25%;
    text-align: center;
    background-color: var(--dark);
    z-index: 10;
}

.btn-taskActions {
    width: 4.25rem;
    height: 4.25rem;
    background-color: var(--dark);
    color: white;
    border: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
}

.full-input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.number-input {
    width: 2em;
    height: 1.5em;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}

.emoji-input {
    width: 1.5em;
    height: 1.25em;
    margin-left: 0.5rem;
    text-align: center;
}

.settings-row {
    margin-bottom: 1rem;
}

.calendar {
    max-width: 100%;
    max-height: 3rem;
}

.btn {
    border: 0;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
    background-color: var(--dark);
}

.btn-round {
    border: 0;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
    background-color: var(--dark);
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}

.icon-round {
    height: 2rem;
    width: 2rem;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--dark);
}

span {
    color: var(--dark);
}

@media screen and (max-width: 800px){
    #dropup-menu {
        bottom: 6rem!important;
    }
    .list {
        height: calc(100vh - 12rem)!important;
    }
}