:root {
  --light: rgb(236, 246, 247);
  --medium: rgb(136, 203, 207);
  --dark: rgb(0, 136, 145);
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    /*background-color: var(--light);*/
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0rem;
    font-size: 1.5rem;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    max-width: 500px;
    margin: auto;
    position: relative;
    /*background-color: white;*/
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1;
     } 
}

@keyframes fadeOutAnimation { 
    0% { 
        opacity: 1;
    } 
    100% { 
        opacity: 0;
     } 
}

@keyframes fadeInAndOutAnimation { 
    0% { 
        opacity: 0;
    } 
    50% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 

/*.swipe {
    position: fixed;
    top: 6.875rem;
    margin: auto;
    background-color: transparent;  
    z-index: 5;
    height: 2rem;
    width: 2rem;
    animation: fadeInAndOutAnimation ease 1.5s;
    animation-iteration-count: 3; 
    animation-fill-mode: forwards;
}*/

/*#menu {
    display: inline-block;
    background-color: var(--dark);
}*/
#menu {
    background-color: var(--dark);
    vertical-align: middle;
    /*min-height: 3.5rem;*/
    width: 100%;
    max-width: 500px!important;
    /*z-index: 5;*/
    text-align: center;
    padding: 0.5rem 0 0 0;
    height: 4.5rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#menu > button {
    /*background-color: var(--medium);*/
    border-radius: 0.5rem 0.5rem 0 0;
    height: 4rem;
    width: 5rem;
    padding-bottom: 0.5rem;
}

#menu > .openedMenu {
    background-color: white;
}

#menu > .openedMenu > img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(41%) saturate(2186%) hue-rotate(151deg) brightness(104%) contrast(102%);
}

.container {
    width: 100%;
    padding: 5.5rem 1rem 1rem 1rem;
}

.container-splide {
    width: 100%;
    padding: 4.5rem 0 0 0;
}

.splide__slide {
    padding: 1rem;
}

.list {
    /*height: calc(100vh - 12rem)!important;*/
    /*height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 5rem)!important;*/
    overflow: auto;
    /*background-color: lightcoral;*/
    /*padding-bottom: 6rem;*/
}

.list-v {
    margin-bottom: 1.5rem;
}

.list > :last-child {
    margin-bottom: 0rem;
}

input.defaultCheckBoxSize  {
    height: 1rem;
    width: 1rem;
}

.list-name {
    background-color: var(--medium);
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 1rem;
    font-weight: 500;
    /*display: inline-block;*/
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    /*top: 5rem;*/
}

.add-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /*padding-bottom: 0rem;*/
    /*grid-template-rows: 100%;*/
    /*vertical-align: middle;*/
    /*align-items: center;*/
    /*justify-items: center;*/
    /*align-content: center;*/
}

.task {
    position: relative;
    background-color: var(--light);
    padding: 1rem;
    vertical-align: middle;
    border-radius: 0.5rem;
    width: 100%;
    word-wrap: break-word;
    margin: auto auto 0.5rem auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0;
}

.task-deadline {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 0.5rem;
}

.task > div {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--dark);
    text-align: center;
    align-self: center;
}

.task > span {
    text-align: right;
    align-self: center;
}

.taskActions {
    position: absolute;
    top: 0rem;
    right: 0rem;
    float: right;
    /*padding: 0rem 0.5rem;*/
    display: grid;
    grid: auto / 25% 25% 25% 25%;
    text-align: center;
    background-color: var(--medium);
    z-index: 10;
    border-radius: 0.5rem;
}

.btn-taskActions {
    width: 4.25rem;
    height: 4.25rem;
    background-color: var(--medium);
    color: white;
    border: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.full-input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.number-input {
    width: 2em;
    height: 1.5em;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}

.emoji-input {
    width: 1.5em;
    height: 1.25em;
    margin-left: 0.5rem;
    text-align: center;
}

.settings-row {
    margin-bottom: 1rem;
}

.calendar {
    max-width: 100%;
    max-height: 3rem;
}

.btn {
    border: 0;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
    background-color: var(--dark);
}

.btn-small {
    border: 0;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
    background-color: var(--dark);
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}

.icon-small {
    height: 2rem;
    width: 2rem;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--dark);
}

@media screen and (max-width: 900px){
    /*#dropup-menu {
        bottom: 6rem!important;
    }*/
    .list {
        height: calc(100vh - 12rem)!important;
    }
}